.img-sliders {
  &__slider {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  // .img-sliders__img

  &__img {
    min-height: 95svh;

    img {
      transition: filter 0.3s ease 0s;
    }
  }
}
