@import "scss/button";

.swiper {
  user-select: none;

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
    }
  }

  img {
    filter: blur(rem(10));
  }

  &._active {
    img {
      filter: blur(0);
    }
  }
}
