.main-slider {
  &__slider {
    // @media (width > $mobile) {
    //   &::after {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1;
    //     width: 100%;
    //     content: "";
    //     background-color: #fff;

    //     @include responsive-value("height", 224, 160, 0, $max-width, 1440);

    //     @media (width < rem(1440)) {
    //       height: rem(160);
    //     }
    //   }
    // }

    .swiper-slide {
      width: auto;
      
      @media (width <= $mobile) {
        width: 100%;

        > div {
          width: auto !important;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__img {
    min-height: 100svh;
  }
}
