@include font(icons);

%icon {
  font-family: icons, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

[class*="_icon-"] {
  &::before {
    @extend %icon;

    display: block;
  }
}
